extends ../layouts/header

block headerContent
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        a.header__registration(href='#') Регистрация
      li.header__list-item
        a.header__enter(href='#') Вход с паролем