extends ../layouts/layout_1

block variables
  - const shouldShowVendorScript = false;
  - const shouldShowMainScript = false;
  - const wrapperClass = "wrapper--nobackground";
  - const footerClass = "footer--padding";

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        - for (article of articles)
          li.notes__list-item
            time.notes__item-time(datetime='2019-03-21T20:33') #{article.createdDate}
            a.notes__item-text(href=`/articles/${article.id}`) #{article.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
