extends ../layouts/layout_1

block variables 
  - const shouldShowVendorScript = false;
  - const shouldShowMainScript = false;
  - const isColor = true;
  - const isEmpty = articles && !articles.length

block content
  main
    section.search-page
      .search-page__wrapper(class=isEmpty ? "search-page__wrapper--empty" : "")
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' name="query" placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти
          if articles && articles.length
            - for (article of articles)
              .search__result
                time.search__date(datetime='2019-03-21T20:33') #{article.createdDate}
                a.search__link #{article.title}
        if isEmpty
          p.search-page__empty Ничего не нашлось
